body{
    background-color: #fff;
}

header {
    width: 100%;
    background: 
    #D64000;
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container {
    position: relative;
    height: 400px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 768px) { flex-direction: column; };
}

.home {
    background: url('https://services.nikken.com.mx/img/slider/nikken-challenge-kin-ya.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
    background-size: inherit;
    background-position: center left;
    background-attachment: inherit;
}

.about {
    background: url('https://services.nikken.com.mx/img/slider/nikken-challenge-kin-ya-mas.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
    background-size: inherit;
    background-position: center left;
    background-attachment: inherit;
}

.contact {
    background: url('https://services.nikken.com.mx/img/slider/nikken-challenge-kin-tai.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
    background-size: inherit;
    background-position: center left;
    background-attachment: inherit;
}

.work {
    background: url('https://services.nikken.com.mx/img/slider/nikken-challenge-kin-master.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
    background-size: inherit;
    background-position: center left;
    background-attachment: inherit;
}

.flex-slide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    @media screen and (max-width: 768px) { overflow: auto; overflow-x: hidden; };
}

.flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.flex-title {
    color: 
    #f1f1f1;
    position: relative;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 30%;
    right: 20%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    @media screen and (max-width: 768px) { transform: rotate(0deg) !important ; };
}

.flex-slide img {
    max-width: 85%;
    min-width: 90px;
    background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7));
    padding: 5px 2px;
    border-radius: 5px;
}

img {
    vertical-align: middle;
    border-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.baner > .main-content, .baner > .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.fixed-action-btn.my-custom-btn {
    position: fixed;
    top: 10px;
    right: 0;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 1000;
}

.col-xl-4 hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.header{
    border-bottom-size: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D64000;
}

.Rectángulo_1_copia {
    background-color: rgb( 236, 124, 0 );
    width: 234px;
    height: 4px;
}

.elipse_1 {
    border-width: 2px;
    border-color: rgb( 83, 83, 83 );
    border-style: solid;
    border-radius: 50%;
    left: 677px;
    top: 716px;
    width: 36px;
    height: 36px;
    z-index: 915;
}
  
.addLevel1, .addLevel2{
    background-color: rgb( 0, 102, 204 );
    color: #fff;
}

.par{
    background-color: rgb(233, 233, 233);
}

.inpar{
    background-color: rgb( 204, 204, 204 );
}

.productos0, .productos1, .productos2, .productos3, .productos11, .productos22, .productos33{
    border-radius: 10px;
    background-color: #bebebe;
    width: 721px;
    height: 139px;
}


.prodsNinja{
    background-image: url('../img/prodsninja.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.table-responsive{
    padding-right: 1px;
    padding-left: 1px;
}

.formulario{
    padding-right: 15px;
    padding-left: 1px;
}
